<main class="content resetdiv mg-top-gap">
    <div class="container pd-y-60-f">
        <div>
            <div fxLayout="row" fxLayoutAlign="center center">
                <mat-card class="login-card" fxFlex='31%' fxFlex.lg='33%' fxFlex.md='45%' fxFlex.sm=60% fxFlex.xs=80%>
                    <div fxLayout="column">
                        <header>
                            <h1 class="sub-title-text tx-xl-24-f tx-lg-24-f tx-md-16-f tx-sm-14-f tx-xs-14-f tx-center-f lh-1"
                                [ngStyle]="{'color':'rgba(0,0,0,0.7)'}">Password Reset</h1>
                        </header>
                        <p class="mg-t-15-f lh-8-f tx-14-f pcolor">To reset your password, please enter the registered
                            email address.</p>
                        <p class="lh-8 tx-14-f pcolor">Will send you an email with instructions.</p>
                        <div *ngIf="error"><span class='red-color tx-14-f'>{{error['error']['email'][0]}}</span></div>
                        <div *ngIf="message"><span
                                class='tx-center-f tx-semibold green-color tx-14-f'>{{message}}</span></div>
                        <form [formGroup]="passwordResetForm" (ngSubmit)="onSubmit()">
                            <div class="mg-t-20-f">
                                <mat-form-field fxFlex="100%" appearance="fill">
                                    <mat-label class='tx-14-f'>Email</mat-label><input type="email" matInput
                                        placeholder="Ex. pat@example.com" formControlName="email">
                                </mat-form-field>
                            </div><button type="submit" mat-raised-button
                                class="getStarted tx-xs-14-f tx-sm-14-f tx-md-16-f tx-lg-18-f tx-xl-18-f">Reset
                                Password</button>
                        </form>
                        <div class='mg-t-20'></div>
                        <p class="mg-t-25-f tx-14-f pcolor">Please contact us if you have any trouble in resetting your
                            password.
                        </p>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
</main>