<main class="content signupdiv mg-t-70-f loginBG">
    <div class="container pd-y-80-f">
        <div fxFlex="80%" fxFlex.xs="100%" class="mx-auto">
            <div fxLayout="row" fxLayoutAlign="center center">
                <div fxFlex="50%" fxFlex.xs="100%" fxLayoutAlign="end" fxLayoutAlign.xs="center">
                    <mat-card fxFlex="85%" fxFlex.xs="100%">
                        <mat-card-content class="pd-y-10 pd-x-15">
                            <h3 class="login-heading mg-b-10-f tx-center-f">Student Registration</h3>
                            <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" class="mg-t-20">
                                <div *ngIf="error" class="mg-t-5-f mg-b-10-f"><span
                                        class='red-color tx-14-f'>{{error['error']['username']}}</span></div>
                                <div>
                                    <mat-form-field fxFlex="100%" appearance="fill">
                                        <mat-label class='pcolor tx-14-f'>
                                            <mat-icon style="vertical-align:baseline;">person</mat-icon>Username
                                        </mat-label><input type="text" matInput placeholder="Username" required
                                            formControlName="username"
                                            [ngClass]="{ 'is-invalid': submitted && f['username']['errors']}">
                                        <div *ngIf="submitted && f['username']['errors']" class="invalid-feedback">
                                            <div *ngIf="f['username']['errors']['required']"></div><span
                                                class='red-color tx-14-f'>Enter your username</span>
                                        </div>
                                    </mat-form-field>
                                </div>
                                <div *ngIf="error"><span class='red-color tx-14-f'>{{error['error']['email']}}</span>
                                </div>
                                <div>
                                    <mat-form-field fxFlex="100%" appearance="fill">
                                        <mat-label class='pcolor tx-14-f'>
                                            <mat-icon style="vertical-align:middle;">email</mat-icon>Email
                                        </mat-label><input type="email" matInput placeholder="Ex. pat@example.com"
                                            required formControlName="email"
                                            [ngClass]="{ 'is-invalid': submitted && f['email']['errors']}">
                                        <div *ngIf="submitted && f['email']['errors']" class="invalid-feedback">
                                            <div *ngIf="f['email']['errors']['required']"></div><span
                                                class='red-color tx-14-f'>Enter your email</span>
                                        </div>
                                    </mat-form-field>
                                </div>
                                <div *ngIf="error"><span class='red-color tx-14-f'>{{error['error']['password']}}</span>
                                </div>
                                <div>
                                    <mat-form-field fxFlex="100%" appearance="fill">
                                        <mat-label class='pcolor tx-14-f'>
                                            <mat-icon style="vertical-align:baseline;">lock</mat-icon>Password
                                        </mat-label><input matInput placeholder="Password"
                                            [type]="hide ? 'password' : 'text'" required formControlName="password"
                                            [ngClass]="{ 'is-invalid': submitted && f['password']['errors']}">
                                        <mat-icon matSuffix (click)="hide=!hide" class="hide_icon">{{hide ?
                                            'visibility_off' : 'visibility'}}</mat-icon>
                                        <div *ngIf="submitted && f['password']['errors']" class="invalid-feedback">
                                            <div *ngIf="f['password']['errors']['required']"></div><span
                                                class='red-color tx-14-f'>Enter your password</span>
                                        </div>
                                    </mat-form-field>
                                </div>
                                <div class="form-group" fxlayout='row' fxLayoutAlign='center center'></div><button
                                    type="submit" mat-raised-button class="btn-login pd-xs-y-0-f">Sign up</button>
                            </form>
                            <div class="mg-t-15-f">
                                <p class="tx-center-f tx-16-f pcolor lh-5">Already a User? <a routerLink="/"
                                        class="tx-decoration tx-16-f">Login to your account</a></p>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</main>