{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block style %}
<style type="text/css">
    h1 {
        margin: 0 0 20px;
        font-weight: 300;
        font-size: 20px;
        color: #666;
    }

    p {
        padding: 0;
        line-height: 140%;
        margin: .2em 0 .8em 0;
    }

    form.disabled {
        pointer-events: none;
        opacity: 0.7;
    }

</style>
{% endblock style %}

{% block content %}
        <div>
            <h1>Password reset sent</h1>
            <p>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
            <p>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
        </div>
{% endblock content %}


