{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block style %}
<style type="text/css">
    h1 {
        margin: 0 0 20px;
        font-weight: 300;
        font-size: 20px;
        color: #666;
    }

    p {
        padding: 0;
        line-height: 140%;
        margin: .2em 0 .8em 0;
    }

</style>
{% endblock style %}

{% block content %}
        <div>
            <h1>Password reset complete</h1>
            <p>Your password has been set. You may go ahead and log in now.</p>
            <div class="pt-1">
                <small class="text-muted">
                    <a href="{% url 'login' %}">Login</a>
                </small>
            </div>
        </div>
{% endblock content %}


