{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    {% if not user.is_authenticated %}
        <div class="content-section" style="width: 600px;">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Join Today</legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Sign Up</button>
                </div>
            </form>
            <div class="border-top pt-3">
                <small class="text-muted">
                    Already Have An Account? <a class="ml-2" href="#">Sign In</a>
                </small>
            </div>
        </div>
    {% else %}
        {% block style %}
        <style type="text/css">
            h1 {
                margin: 0 0 20px;
                font-weight: 300;
                font-size: 20px;
                color: #666;
            }
        </style>
        {% endblock style %}

        <h1>please log out first to register a new user</h1>
        <div>
            <small class="text-muted">
                <a href="{% url 'logout' %}">Log out</a>
            </small>
        </div>
    {% endif %}
{% endblock content %}

