.dropbtn {
    font-size: 14px;
    font-weight: 500;
    // border: none;
    // outline: none;
    color: black;
    padding: 10px 4px;
    background-color: transparent;
    margin: 0 4px;
    cursor: pointer;
}