anyascii==0.1.7
asgiref==3.3.1
astroid==2.4.2
Babel==2.9.0
backcall==0.1.0
backports.entry-points-selectable==1.1.1
beautifulsoup4==4.8.2
bleach==3.0.2
blurhash==1.1.4
boost==0.1
boto==2.49.0
boto3==1.16.52
botocore==1.19.52
bz2file==0.98
certifi==2020.12.5
cffi==1.14.4
chardet==3.0.4
click==7.1.2
cloudpickle==0.6.1
# cmake==3.17.1
colorama==0.4.0
cryptography==3.3.1
cycler==0.10.0
decorator==4.3.0
defusedxml==0.6.0
Deprecated==1.2.13
diff-match-patch==20200713
distlib==0.3.3
dj-rest-auth==2.1.11
Django==3.0
django-admin-rangefilter==0.8.1
django-allauth==0.44.0
django-cors-headers==3.6.0
django-crispy-forms==1.9.0
django-filter==2.4.0
django-import-export==2.5.0
django-modelcluster==5.1
django-mssql-backend==2.8.1
django-multiselectfield==0.1.12
django-oauth-toolkit==1.5.0
django-rest-auth==0.9.5
django-rest-framework==0.1.0
django-ses==1.0.3
django-taggit==1.3.0
django-treebeard==4.4
djangorestframework==3.12.2
djangorestframework-jwt==1.11.0
djangorestframework-simplejwt==4.6.0
# dlib==19.19.0
docutils==0.14
draftjs-exporter==2.1.7
entrypoints==0.2.3
et-xmlfile==1.0.1
# face-recognition==1.3.0
# face-recognition-models==0.3.0
filelock==3.4.0
future==0.18.2
gensim==3.6.0
get==2019.4.13
html5lib==1.1
idna==2.7
importlib-metadata==3.3.0
ipykernel==5.1.0
ipython==7.1.1
ipython-genutils==0.2.0
ipywidgets==7.4.2
isort==5.6.4
jdcal==1.4.1
jedi==0.13.1
Jinja2==2.10
jmespath==0.10.0
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==6.0.0
jupyter-core==4.4.0
jwcrypto==1.0
kiwisolver==1.0.1
l18n==2020.6.1
lazy-object-proxy==1.4.3
Markdown==3.3.3
MarkupPy==1.14
MarkupSafe==1.0
Mastodon.py==1.5.1
matplotlib==3.0.1
mccabe==0.6.1
mistune==0.8.4
mpmath==1.0.0
nbconvert==5.4.0
nbformat==4.4.0
networkx==2.4
nose==1.3.7
notebook==5.7.0
numpy==1.19.5
oauthlib==3.1.0
odfpy==1.4.1
opencv-contrib-python==4.2.0.34
opencv-python==4.2.0.34
openpyxl==3.0.6
pandas==1.2.1
pandocfilters==1.4.2
parso==0.3.1
pathlib==1.0.1
pickleshare==0.7.5
Pillow==7.2.0
platformdirs==2.4.0
plotly==3.3.0
post==2019.4.13
prometheus-client==0.4.2
prompt-toolkit==2.0.7
public==2019.4.13
pybind11==2.8.1
pycparser==2.20
Pygments==2.2.0
PyJWT==1.7.1
pylint==2.6.0
pyodbc==4.0.30
pyparsing==2.3.0
python-dateutil==2.8.1
python-magic==0.4.15
python3-openid==3.2.0
pytz==2020.5
pywinpty==0.5.4
PyYAML==6.0
pyzmq==17.1.2
qtconsole==4.4.2
query-string==2019.4.13
request==2019.4.13
requests==2.20.0
requests-oauthlib==1.3.0
retrying==1.3.3
s3transfer==0.3.4
scikit-learn==0.20.0
scipy==1.6.0
seaborn==0.9.0
selenium==3.141.0
Send2Trash==1.5.0
six==1.15.0
sklearn==0.0
smart-open==1.7.1
soupsieve==2.1
SQLAlchemy==1.3.16
sqlparse==0.3.1
sympy==1.3
tablib==3.1.0
terminado==0.8.1
testpath==0.4.2
toml==0.10.2
tornado==5.1.1
traitlets==4.3.2
typed-ast==1.4.1
typing-extensions==3.7.4.3
urllib3==1.24.3
virtualenv==20.10.0
virtualenvwrapper-win==1.2.6
wcwidth==0.1.7
webencodings==0.5.1
widgetsnbextension==3.4.2
workbook==1.1
wrapt==1.12.1
xlrd==1.2.0
xlutils==2.0.0
xlwt==1.3.0
zipp==3.4.0
