<main class="content changePassword mg-top-gap">
    <div class="container pd-y-60-f">
        <!-- <div class="se-pre-con" *ngIf="loading"></div> -->
        <div fxLayout="row" fxLayoutAlign="center center">
            <mat-card class="changePassword-card" fxFlex='31%' fxFlex.lg='33%' fxFlex.md='45%' fxFlex.sm=60%
                fxFlex.xs=80%>
                <div fxLayout="column" fxFlex="100%">
                    <header>
                        <h1 class="sub-title-text tx-xl-24-f tx-lg-24-f tx-md-16-f tx-sm-14-f tx-xs-14-f tx-center-f lh-1"
                            [ngStyle]="{'color':'rgba(0,0,0,0.7)'}">Change Password</h1>
                    </header>
                    <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
                        <div *ngIf="error"><span class='red-color tx-14-f'>{{error['error']['old_password']}}</span>
                        </div>
                        <div class="mg-t-30-f">
                            <mat-form-field fxFlex="100%" appearance="fill">
                                <mat-label class='pcolor tx-14-f'>Old Password</mat-label><input type="password"
                                    matInput placeholder="Enter Old Password" required formControlName="oldpassword">
                            </mat-form-field>
                        </div>
                        <div *ngIf="error"><span class='red-color tx-14-f'>{{error['error']['new_password1']}}</span>
                        </div>
                        <div>
                            <mat-form-field fxFlex="100%" appearance="fill">
                                <mat-label class='pcolor tx-14-f'>New Password</mat-label><input type="password"
                                    matInput placeholder="Enter New Password" required formControlName="newpassword">
                            </mat-form-field>
                        </div>
                        <div *ngIf="error"><span class='red-color tx-14-f'>{{error['error']['new_password2']}}</span>
                        </div>
                        <div class="mg-t-10-f">
                            <mat-form-field fxFlex="100%" appearance="fill">
                                <mat-label class='pcolor tx-14-f'>Confirm Passsword</mat-label><input matInput
                                    placeholder="Confirm Passsword" type="password" required
                                    formControlName="confirmpassword">
                            </mat-form-field>
                        </div>
                        <div class='tx-right-f'><button type="submit" mat-raised-button
                                class="changePasswordbtn mg-y-10-f tx-14-f">Change Password</button></div>
                    </form>
                </div>
            </mat-card>
        </div>
    </div>
</main>