{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
    {% block content %}
    {% if subjects|length > 0 %}
        <center style="padding-bottom: 5px;text-decoration: underline;"><b>Subjects</b></center>
        {% if not user.is_staff %}
            <div class="table-responsive mt-1">
            <table class="table table-striped">
                
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">Subject</th><th scope="col">Capture Attendance</th><th scope="col">Summary</th>
                    </tr>
                    </thead>
                    <tbody>
                        
                        {% for subject in subjects %}
                            <tr>
                                <td>{{subject.subject_name}}</td>
                                {% if is_holiday %}
                                    <td><a style="color:white" name='capture' class="btn btn-sm btn-secondary">Holiday</a></td>
                                {% else %}
                                    {% if subject.is_present %}
                                        <td><a style="color:white" name='capture' class="btn btn-sm btn-secondary">Marked</a></td>
                                    {% else %}
                                        <td><a href="{% url 'camera' subject.subject_name %}" name='capture' class="btn btn-sm btn-primary">Capture</a></td>
                                    {% endif %}
                                {% endif %}
                                <td><a href="{% url 'summary_id' subject.subject_name %}" name='capture' class="btn btn-sm btn-secondary">Attendance Summary</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}  
    {% else %}
        <h1><center>No Subjects Added Yet<center></h1>
    {% endif %}
    {% endblock content %}

